google-api-python-client
google-cloud-bigquery
kaggle
mlperf_compliance==0.0.10
numpy
oauth2client
pandas
psutil
py-cpuinfo
scipy
tensorflow>=2.1.0
tensorflow-hub
tensorflow-model-optimization
tensorflow-datasets
tensorflow-addons
dataclasses
gin-config
sentencepiece
matplotlib
opencv-python-headless
pyyaml
Pillow