* @tensorflow/tf-model-garden-team
/official/ @rachellj218
/official/nlp/ @lehougoogle @rachellj218
/official/recommendation/ranking/ @gagika
/official/vision/ @yeqingli @arashwan @rachellj218
/official/vision/projects/assemblenet/ @yeqingli
/official/vision/projects/deepmac_maskrcnn/ @vighneshbirodkar
/official/vision/projects/movinet/ @hyperparticle @yuanliangzhe @yeqingli
/official/vision/projects/simclr/ @luotigerlsx @saxenasaurabh
/official/vision/projects/video_ssl/ @yeqingli
/research/adversarial_text/ @rsepassi @a-dai
/research/attention_ocr/ @xavigibert
/research/audioset/ @plakal @dpwe
/research/autoaugment/ @barretzoph
/research/cognitive_planning/ @s-gupta
/research/cvt_text/ @clarkkev @lmthang
/research/deep_speech/ @yhliang2018
/research/deeplab/ @aquariusjay @yknzhu
/research/delf/ @andrefaraujo
/research/efficient-hrl/ @ofirnachum
/research/lfads/ @jazcollins @sussillo
/research/lstm_object_detection/ @yinxiaoli @yongzhe2160
/research/marco/ @vincentvanhoucke
/research/object_detection/ @jch1 @tombstone @pkulzc
/research/pcl_rl/ @ofirnachum
/research/rebar/ @gjtucker
/research/seq_flow_lite/ @thunderfyc @karunreddy30
/research/slim/ @sguada @marksandler2
/research/vid2depth/ @rezama
