six
google-api-python-client>=2.88.0
kaggle>=1.5.13
numpy>=1.24.3
oauth2client
pandas>=2.0.2
psutil>=5.9.5
py-cpuinfo>=9.0.0
scipy>=1.10.1
tensorflow-hub>=0.6.0
tensorflow-model-optimization>=0.7.5
tensorflow-datasets
gin-config
tf_slim>=1.1.0
Cython
matplotlib
# Loader becomes a required positional argument in 6.0 in yaml.load
pyyaml>=5.1,<6.0
# CV related dependencies
opencv-python-headless==4.7.0.72
Pillow
pycocotools
# NLP related dependencies
seqeval
sentencepiece
sacrebleu
# Projects/vit dependencies
immutabledict
