# Run pip install --upgrade pip if tensorflow 1.15 cannot be found
tensorflow==1.15   # CPU Version of TensorFlow
tensorflow_hub==0.7
# tensorflow-gpu==1.15  # GPU version of TensorFlow
sentencepiece
