build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda --define=using_cuda=true --define=using_cuda_nvcc=true

build --action_env PYTHON_BIN_PATH="/usr/bin/python"
build --define PYTHON_BIN_PATH=/usr/bin/python

build --spawn_strategy=standalone --genrule_strategy=standalone
test --spawn_strategy=standalone --genrule_strategy=standalone
run --spawn_strategy=standalone --genrule_strategy=standalone

build --define=grpc_no_ares=true
build --action_env TF_NEED_CUDA="1"
build --action_env NCCL_INSTALL_PATH="/usr/local/"
build --action_env TF_NCCL_VERSION="1.3"
build --action_env TF_CUDNN_VERSION=7
build --action_env TF_NEED_OPENCL_SYCL="0"
build --action_env TF_NEED_GCP="0"
build --action_env TF_ENABLE_XLA="0"
build --action_env GCC_HOST_COMPILER_PATH="/usr/bin/gcc"
build --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0

# TODO(b/69809703): Remove once no longer required for TensorFlow to build.
build --copt=-DGEMMLOWP_ALLOW_SLOW_SCALAR_FALLBACK
