import %workspace%/tensorflow/.tf_configure.bazelrc

build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda --define=using_cuda=true --define=using_cuda_nvcc=true
build:win-cuda --define=using_cuda=true --define=using_cuda_nvcc=true

build --force_python=py2
build --host_force_python=py2
build --define=use_fast_cpp_protos=true
build --define=allow_oversize_protos=true

test --force_python=py2
test --host_force_python=py2

build --spawn_strategy=standalone
test --spawn_strategy=standalone
run --spawn_strategy=standalone

build --genrule_strategy=standalone
test --genrule_strategy=standalone
run --genrule_strategy=standalone

build --copt -funsigned-char
build -c opt
test -c opt
run -c opt

build:opt --cxxopt=-march=native --copt=-march=native
